extends layout

block content
  .main.container
    h1.display-3(style='color:purple;') Welcome to Alumni Forum
    br
    if currentUser
      h3 
        a.btn.btn-secondary(href='/posts/form' role='button' style="margin-left:87%; color:off-white;")  Create Blog 
          i.fa.fa-mouse-pointer(aria-hidden='true')
      br
    if posts.length == 0 
      h1.display-4(style="color:purple;") There're no current Posts
    each post, i in posts
      .item.mb-5.card.bg-light.mb-3
        .media
          -if(post.photo) var img= post.photo.replace("uploads\\","/"); else var img = '/images/post.jpg';
          img.img-thumbnail.rounded.float-left.mr-3.img-fluid.post-thumb.d-none.d-md-flex(src=img alt='image' style="width: 200px; height: 200px")
          .media-body
            .card-header
              h1.display-5.title.mb-1.font-weight-light(style='font-size:x-large;')
                a(href=`posts/${post._id}` style="color:purple;") #{post.title}
              .meta.mb-1
                span.date(style="color:black; font-size:small;") Published on #{post.publishDate} By #{post.author.name}
                span.comment
                  a.badge.badge-warning(href=`posts/${post._id}` style="margin-left:2%; color:white") #{post.comments.length} comments
            .intro.card-body
             p.lead(style="color:purple; font-size:medium;")  
              | #{post.content}...
              a.more-link.badge.badge-info(href=`posts/${post._id}` style='margin-left:2%;') Read more &rarr;
          // //media-body
        // //media
      // //item
    nav.blog-nav.nav.nav-justified.my-5
      -var previousPage= parseInt(pageNumber)-1;
      if (pageNumber!=1)
        a.btn.btn-secondary.nav-link-prev.nav-item.nav-link.rounded-left(href=`/posts?pageNumber=${previousPage}` style='margin-right:2;')
          i.arrow-prev.fas.fa-long-arrow-alt-left
          |  Previous 
      -var nextPage = parseInt(pageNumber)+1
      if morePosts
        a.btn.btn-secondary.nav-link-next.nav-item.nav-link.rounded-right(href=`/posts?pageNumber=${nextPage}`)
          | Next 
          i.arrow-next.fas.fa-long-arrow-alt-right